<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initialscale=1,
shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ethereumjs-tx@1.3.4/es5/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ethereumjs-util@5.2.0/dist/index.min.js"></script>

</head>
<p> tao tai khoan va chuyen tien </p>
{{{body}}}
<p> Ahihi do ngok </p>
<html>
